/*Verde vivo (parte inferior direita):
#00C060
Verde intermediário (meio do degradê):
#009060
Azul petróleo escuro (parte superior esquerda):
#004050
Verde-azulado escuro (sombra de fundo):
#006060
*/

body{
    //background: url("./assets/bg.png") no-repeat 100% auto top center ;
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top center;
    background-color:rgb(35, 168, 101); 
    color:white;  

}

body *, :root {
    font-family: "Inter";
    line-height: 160%;
}

header{
    padding-top: -20px;
}

header img{
    width: 25rem;
}
